$font-family-base: "Inter", sans-serif;

$primary-color: #323232;
$background-color:#ffffff;
$imagebg-color: #E5E5E5;
$descbg-color:#F3F3F3;

body{
  font-family:$font-family-base;
  color: $primary-color;
}

::selection{
  background-color: rgb(250, 250, 155);
}

h1{
  font-family: "Space Grotesk", sans-serif;
  font-size:4.5rem !important;
  font-weight: 400;
  line-height: 5.438rem;
  //letter-spacing: -0.05em;
}
.mt-4 {
  margin-top: 50px !important;
}

h2{
    font-style: normal;
    font-weight: 400;
    font-size: 2.75rem !important;
    color: $primary-color !important;
    line-height: 3rem;
    letter-spacing: -0.01em;
}

mark{
background-color: chartreuse;
padding: 5px;
}

h3 {
  @extend h2;
  font-size: 2rem !important;
  line-height: 2.563rem;
  font-weight: 400;
}

h4 {
  @extend h3;
  @extend .font-weight-bold;
  font-size: 1.6rem !important;
  line-height: 1.9rem;
  font-weight: 400 !important;
}

p{
color:$primary-color;
font-size: 1.4rem !important;
line-height: 1.7rem;
font-weight: 400 !important;
}

li{
  @extend p;
  margin-left: -1rem;
}

a {
  @extend p;
  text-decoration: underline;
  text-underline-offset: .4em;
  color: $primary-color !important;
  padding: 10px;
}
@keyframes linkAnimation {
  from {
    text-underline-offset: .4em;
  }

  to {
    text-underline-offset: -.4em;
  }
}
a:hover {
  text-decoration-skip-ink: none;
  text-decoration-color: black;
  background-color: yellow !important;
  text-decoration-thickness: .1em;
  animation: .2s 1 forwards linkAnimation;
}


.navbar{
  a {
    font-size: 1.125rem !important;
  }

  a.active {
      text-decoration: line-through;
      pointer-events: none;

    }
}


.font-weight-regular{
  font-weight:400;
}

.font-weight-light{
  font-weight:300;
}
.font-weight-bold {
  font-weight: 600;
}

b{
  //@extend .font-weight-bold;
}

.btn{
  @extend p;

  border-radius: 40px;
  border-style: solid;
  border-color: $primary-color;
  color: $primary-color !important;
  font-family: $font-family-base;
  padding: 10px 30px 10px 30px;
  translate: 0px -10px;
  margin: 0px 10px 0px 10px;
  background: linear-gradient(to top, yellow 50%, white 50%);
  background-size: 100% 200%;
  transition: all .2s ease-out;

}
.btn:hover {
  background-position: bottom right;
}

#arrow{
  height: 60px;
  width: 52px;
  transform: translateY(-100%);
  @keyframes bounce {
  from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(-25%);
    }
  }

    animation: 2s infinite alternate bounce;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

#footer{
  margin-top: 100px;

  button{
    margin-left: -0.2em;
  }

  img{
    height: 52px;
    width: 60px;

  }

}

#casestudy{
  margin-top: 60px;
}

img {
  border-radius: 5px;
}

.list-group-item{
  border: none;
  padding-left: 0;
}

.stretched-link:hover {
  animation: none;
  background-color: transparent !important;
}

//Media Query for screen size less than 480px
@media screen and (max-width: 480px) {
  .container{
    width: 90%;
  }

    h1 {
        font-size: 3rem !important;
        line-height: 3.4rem;
      }
    h2 {
        font-size: 1.8rem !important;
        line-height: 2.2rem;
      }
    h3 {
        font-size: 1.5rem !important;
        line-height: 2rem;
        font-weight: 400;
      }

    h4 {
        font-size: 1.2rem !important;
        line-height: 1.6rem;
      }

      p {
        color: $primary-color;
        font-size: 1rem !important;
        line-height: 1.4rem;
        font-weight: 400 !important;
      }
      a{
        padding: 5px;
      }
      #designprocessimage{
        width: 30%;
      }
      #arrow {
        height: 30px;
        width: 32px;
            }
  }

    @media screen and (max-width: 375px) {
      .container {
        width: 90%;
      }



      h1 {
        font-size: 2.5rem !important;
        line-height: 2.8rem;
      }

      h2 {
        font-size: 1.8rem !important;
        line-height: 2.2rem;
      }

      mark {
        background-color: chartreuse;
        padding: 2px;
      }

      h3 {
        font-size: 1.5rem !important;
        line-height: 2rem;
        font-weight: 400;
      }

      h4 {
        font-size: 1.2rem !important;
        line-height: 1.6rem;
      }

      p {
        color: $primary-color;
        font-size: 1rem !important;
        line-height: 1.4rem;
        font-weight: 400 !important;
      }
      a{
        padding: 4px;
      }

      #designprocessimage {
        width: 30%;
      }

      #arrow {
        height: 30px;
        width: 32px;
    }
  }