//Adjusting spacing for hero
#hero{
  //margin-top: 50px;
  padding: 50px 0px 100px 0;
  .row{
    h1{
      margin-left: -5px;
    }
  }
}

.row {
  margin:10px 0px 10px 0px;
  --bs-gutter-x: 0rem !important;
  padding: 0px !important;
  position: relative;
}

.container{
--bs-gutter-x: 0rem;
}

#works{
  margin-top: 100px;

}
#companyHeading {
  margin-top: 100px;
}

.individualWork{
  margin-top: 20px;
  margin-bottom: 80px;
  .workDesc {
    padding: 20px 0px 20px 20px;
    height: 400px;
    background-color: $descbg-color;}
  .imagesection{
    align-content: center;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:$imagebg-color ;
    img{
      width: 90%;
      transform: rotate(-10deg) !important;
    }

    img:hover{
      transform: rotate(0deg) !important;
    }
  }
}

.individualWork:hover {
  border-radius: 10px;
  transform: scale(1.1,1.1);
  transition: all .2s ease-out;
  .imagesection {
    img {
      transform: rotate(0deg) !important;
      transition: all .2s ease-out
    }
  }
}

#FARMVILLE:hover{
  .workDesc {
    background-color: #E6FEED;
  }

  .imagesection {
    background-color: #007F22 ;
  }
}

#EnA:hover {
  .workDesc {
    background-color: #ECF0F9;
  }

  .imagesection {
    background-color: #223965;
  }
}

#DH2018:hover {
  .workDesc {
    background-color: #FEF6E6;
  }

  .imagesection {
    background-color: #E19707;
  }
}

.postHero{
  @extend #hero;
  padding-bottom: 10px;
  button{
    position: relative;
    top: 100%;
    transform: translateY(-100%);
  }
  p{
    margin-bottom: 0;
  }
  h1{
    margin-bottom: .1rem;
  }

  #AboutImage{
    filter: saturate(0);
   // max-height: 50vh;
  }

  #AboutImage:hover{
      animation: none !important;
      filter: saturate(1.5);
    }



  img{
    margin: 50px 0px 50px 0;

    @keyframes imageshake {
      0%{
        transform: scale (1.1) rotate(0deg);
      }
      25% {
        transform: scale(1.1) rotate(-5deg);
      }
      50%{
        transform: scale(1.1) rotate(0deg);
      }
      75% {
        transform: scale(1.1) rotate(5deg);
      }
      100% {
        transform: scale (1.1) rotate(0deg);
      }
   }
  }
  img:hover{
    animation: 0.4s 1 forwards imageshake;
      animation-timing-function: cubic-bezier(.01, .98, 1, .32);
  }
}

.Trailer{
  width: 100%;
  height: 56%;
  margin-bottom: 50px;
  iframe{
    width: 100%;
    height: 50vw;
  }
}

#gamesworked {
  img {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 0px !important;
    //display: inline;
  }
}

@media screen and (max-width: 480px) {
  #gamesworked {
      img {
        width: 100px;
        height: 100px;
        padding: 5px;
        margin: 0px !important;
        //display: inline;
      }
    }
        #FARMVILLE{
          .workDesc {
            background-color: #E6FEED;
          }

          .imagesection {
            background-color: #007F22;
          }
        }

        #EnA{
          .workDesc {
            background-color: #ECF0F9;
          }

          .imagesection {
            background-color: #223965;
          }
        }

        #DH2018{
          .workDesc {
            background-color: #FEF6E6;
          }

          .imagesection {
            background-color: #E19707;
          }
        }
}

@media screen and (max-width: 375px) {
  #gamesworked {
    img {
      width: 90px;
      height: 90px;
      padding: 5px;
      margin: 0px !important;
      //display: inline;
    }
  }
    #FARMVILLE {
      .workDesc {
        background-color: #E6FEED;
      }

      .imagesection {
        background-color: #007F22;
      }
    }

    #EnA {
      .workDesc {
        background-color: #ECF0F9;
      }

      .imagesection {
        background-color: #223965;
      }
    }

    #DH2018 {
      .workDesc {
        background-color: #FEF6E6;
      }

      .imagesection {
        background-color: #E19707;
      }
    }
}