body{
    background-color: #fefefe;
}
.whitetext{
    color:#fefefe;
}
h1{
    font-size:5rem;
    font-family: 'IBM Plex Serif', serif;
    color: #1E1D1D;
}
h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1E1D1D;
}
h4{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1E1D1D;
}
h3{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1E1D1D;
}
h5{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1E1D1D;
}
p,li {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1.1rem;
    color: #1E1D1D;
    letter-spacing: .8px;
}
a{
    text-decoration: underline;
    color: #1E1D1D;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #1E1D1D;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #3a3b36;

}
.contacticon{
    max-width: 33.33px;
    max-height: 25px;
    margin-right: 5px;
}
#firstcontainer{
    position: relative;
    /*height: 90vh;*/
}

#intro{
/*position: absolute;*/
margin-top: 50vh;
margin-bottom:150px;
}

.biomail{
    margin-bottom:150px;
}
.casestudies{
    
    /*height: 45vh;*/
    
    border-radius: 10px;
    margin-bottom:120px;
}





.arrow{
    width: 25px;
}






#footer{
    margin-top: 10px;
    margin-bottom: 150px;
   
}
#footer h2{
    margin-bottom:25px;   
}
.big{
    font-size:5rem;
    font-family: 'IBM Plex Serif', serif;
}
button{
    background-color: #1E1D1D;
    border-radius: 5px;
    border: solid;
    border-color: #fefefe;
    border-width: 3px;
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
    color: #fefefe;
    margin-top:0px;
}

.bg-light{
    background-color: #fefefe !important;
}
.nav-item{
    margin-left:15px;
    margin-top: 10px;
}

.nav-item a{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1rem;
    color: #1E1D1D;
    letter-spacing: .8px;
    text-decoration: none;
    
}
.navbar-nav{
    width: 30%;
}



#projectintrocontainer{
margin-top: 20vh;
margin-bottom: 80px;
}
#content{
    margin-bottom: 90px;;
}

.navbar img{
    width: 15px;
}
.navbar{
    width: 90%;
}

#otherposts{
    margin-top: 10px;
    margin-bottom: 90px;
    
}

.icon{
    width:150px;
}
#externallink{
    width:20px;
}




/*media queries are coming*/
@media only screen and (max-width: 500px) {
    .navbar{
    width: 100%;
}

 h1{
    font-size:3.4rem;
    font-family: 'IBM Plex Serif', serif;
}s
h2 {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.6rem;
    font-weight: 600;
}
h4{
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2rem;
    font-weight: 600;
}
p,a,li {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1rem;
    color: #1E1D1D;
    letter-spacing: .8px;
}
.casestudies{
    border-radius: 10px;
}

}






/** Athul's Edit **/

.top-heading-head-title {
    opacity: 0.6;
    font-size: 14px;
    margin-bottom: 13px
}

.post-image {
    width: 100%
}

hr {
    margin-top:2rem
}

h2 {
    margin-bottom:2.5rem;
    margin-top:2.5rem;
    font-size: 36px;
    color: #4e4e4e;
}

ol, ul {
    margin-top:3rem;
    display: block;
}

ol li, ul li {
    color: #848080;
    margin-bottom:20px;
}



p {
    color: #848080;
    line-height:1.7
}

h3 {
    margin:20px 0;
}


.post-image {
    margin:2rem 0;
}

small {
    font-size: 12px;
    opacity:0.4;
    display:block;
    margin-top:8px
}

.lp-hero-sub {
    color:#777;
    font-size:1.6rem;
    font-family:'IBM Plex Sans', sans-serif;
}